        <h1>Localização</h1>
        <p>Nossa loja física fica no bairro
        <address>Rua: Winston Churchill, 2022 Capão Raso, Curitiba-PR</address>
        Em frente à Rua da Cidadania do Pinheirinho</p>
        <div class="mapa-container">
            <iframe class="mapa" allowfullscreen="" loading="lazy"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.726801470188!2d-49.29842298818684!3d-25.514156377414388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfc97df0e2a6f%3A0xdfaf68e852003ac0!2sPARANA%20BANCO%20PINHEIRINHO%20J%20Perroni!5e0!3m2!1spt-BR!2sbr!4v1751692645057!5m2!1spt-BR!2sbr"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>