@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  font-size: 10px;
  height: 100vh;
  width: 100vw;
}
body {
  font-family: Lato, Times, serif;
  font-size: 1.5em;
  background-color: var(--cor8);
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar conteudo";
  grid-template-columns: auto 80%;
  grid-template-rows: 20% auto;
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 1em;
  color: var(--cor3);
  margin: 0.1em;
  text-align: center;
}
header.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-area: header;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  width: 100%;
}
img.logo {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
img.icone-do-perfil {
  width: 3em;
  height: 3em;
  border-radius: 25%;
  margin: 0.2em;
}
nav.menu {
  color: var(--cor3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  width: 100%;
  height: 100%;
  grid-area: sidebar;
  grid-row: 2;
  grid-column: 1;
  text-wrap: nowrap;
  overflow-x: hidden;
  align-items: center;
  padding: 1em;
}
a.link {
  color: var(--cor3);
  border-radius: 2px;
  text-decoration: none;
}
li.link1 {
  margin-top: 1em;
  list-style: none;
}
img {
  width: 1em;
  height: 1em;
  align-items: center;
}
main.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
  width: 95%;
  height: 95%;
  color: var(--cor3);
  grid-area: conteudo;
  grid-row: 2;
  grid-column: 2;
  align-items: center;
  padding: 1em;
}
main.conteudo-mapa {
  padding-top: 2em;
}
p {
  text-align: start;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
ul.lista {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  color: var(--cor3);
  list-style: circle;
}
li.lista {
  margin: 0 0.5em;
  list-style: disc;
}
li.contatos {
  text-decoration: none;
  margin: 1em;
}
img.icone {
  width: 2em;
  margin: 0.5em;
}
.mapa-container {
  flex-grow: 1;
  width: 95%;
  display: flex;
  justify-content: center;
}

.mapa {
  flex-grow: 1;
  border: none;
  width: 100%;
  border-radius: 2px;
}
ul.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
}
a {
  text-decoration: none;
  color: var(--cor3);
}
address {
  font-style: normal;
  color: var(--cor1);
}
@media screen and (min-width: 400px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 815px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 814px) {
  body {
    grid-template-areas:
      "header"
      "sidebar"
      "conteudo";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  header.banner {
    justify-content: center;
    height: 80px;
    padding: 0;
  }

  header.banner img.logo {
    flex-grow: 1;
    height: 100%;
    width: 33.33%;
    object-fit: cover;
  }

  nav.menu {
    height: auto;
    padding: 0;
  }

  nav.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  main.conteudo {
    width: 95%;
    height: auto;
    margin-top: 0;
    grid-row: 3;
    grid-column: 1;
    align-items: center;
  }
}